<div class="col-lg-10 col-md-9 col-xl-8 col-xxl-7 mx-auto ms-xl-0">
    <div class="mb-12">
        <h1 class="h2 ls-tight fw-bolder">
            Sign in
        </h1>
        <p class="text-sm mt-2 text-body-secondary">
            Que bom te ver! Escolha a forma de login.
        </p>
    </div>


    <div class="row g-3">
        <div class="col-sm-6">
            <a href="/MicrosoftIdentity/Account/SignIn" class="btn btn-neutral w-100">
                <span class="icon icon-sm pe-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-microsoft" viewBox="0 0 16 16">
                        <path d="M7.462 0H0v7.19h7.462zM16 0H8.538v7.19H16zM7.462 8.211H0V16h7.462zm8.538 0H8.538V16H16z"/>
                    </svg>
                </span>
                Microsoft 365
            </a>
        </div>
    </div>

    @* <div class="mt-6">
        <small>Don't have an account?</small>
        <a href="#" class="text-primary text-sm fw-semibold">Sign up</a>
    </div> *@

</div>