//  the _custom.scss file will be used to add your CSS styles.

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Remove scroll vertical e horizontal */
}

th {
  color: white !important;
}

.bg-gray-600 {
  background-color: #262626;
}

.bg-gray-100 {
  background-color: #F5F5F5;
}

.pointer {
  cursor: pointer;
}

.item-purple{
  color: #441945;
}

.bg-purple{
  background: #441945;
  color: white;
}

.btn-purple{
  background: #441945;
  border: 1px solid #441945;
  color: white;
}

.btn-purple:hover{
  background: #5c265d;
  border: 1px solid #5c265d;
  color: white;
}

.form-check-input:checked {
  background-color: #441945;
  border-color: #441945;
}

.form-check-input:focus {
  border-color: #441945;
  outline: 0;
  box-shadow: 0 0 0 0.15rem var(--x-primary-bg-subtle);
}

.form-select:focus {
  border-color: #441945;
  outline: 0;
  box-shadow: var(--x-shadow-sm), 0 0 0 0.15rem var(--x-primary-bg-subtle);
}

/* SideBar */

.dropdown-item {
  padding: 8px 0;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #f8f9fa59; /* cor de fundo ao passar o mouse */
}

.dropdown-item.active {
  background-color: #e9ecef8c; /* cor de fundo do item ativo */
  font-weight: 600;
}

.s-h3{
  background: #e9ecef;
  padding: 12px;
  border-radius: 8px;
}

/* Tooltip */

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-container .tooltip-text {
  visibility: hidden;
  background-color: #e9ecef;
  color: #441945;
  text-align: center;
  border-radius: 0.5rem;
  padding: 5px 10px;
  position: absolute;
  bottom: 125%; /* acima do botão */
  right: 0;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.2s;
  white-space: nowrap;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
