//  the _custom.scss file will be used to add your CSS styles.

* {
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

.item-purple{
  color: #441945;
}

.bg-purple{
  background: #441945;
  color: white;
}

.btn-purple{
  background: #441945;
  border: 1px solid #441945;
  color: white;
}

.btn-purple:hover{
  background: #5c265d;
  border: 1px solid #5c265d;
  color: white;
}

.form-check-input:checked {
  background-color: #441945;
  border-color: #441945;
}

.form-check-input:focus {
  border-color: #441945;
  outline: 0;
  box-shadow: 0 0 0 0.15rem var(--x-primary-bg-subtle);
}

.form-select:focus {
  border-color: #441945;
  outline: 0;
  box-shadow: var(--x-shadow-sm), 0 0 0 0.15rem var(--x-primary-bg-subtle);
}
